[submodule "RPipe"]
	path = RPipe
	url = https://github.com/diaoenmao/RPipe.git
[submodule "Restricted-Recurrent-Neural-Networks"]
	path = Restricted-Recurrent-Neural-Networks
	url = https://github.com/diaoenmao/Restricted-Recurrent-Neural-Networks.git
[submodule "Multimodal-Controller-for-Generative-Models"]
	path = Multimodal-Controller-for-Generative-Models
	url = https://github.com/diaoenmao/Multimodal-Controller-for-Generative-Models.git
[submodule "On-Statistical-Efficiency-in-Learning"]
	path = On-Statistical-Efficiency-in-Learning
	url = https://github.com/diaoenmao/On-Statistical-Efficiency-in-Learning.git
[submodule "Deep-Clustering-of-Compressed-Variational-Embeddings"]
	path = Deep-Clustering-of-Compressed-Variational-Embeddings
	url = https://github.com/diaoenmao/Deep-Clustering-of-Compressed-Variational-Embeddings.git
[submodule "DRASIC-Distributed-Recurrent-Autoencoder-for-Scalable-Image-Compression"]
	path = DRASIC-Distributed-Recurrent-Autoencoder-for-Scalable-Image-Compression
	url = https://github.com/diaoenmao/DRASIC-Distributed-Recurrent-Autoencoder-for-Scalable-Image-Compression.git
[submodule "HeteroFL-Computation-and-Communication-Efficient-Federated-Learning-for-Heterogeneous-Clients"]
	path = HeteroFL-Computation-and-Communication-Efficient-Federated-Learning-for-Heterogeneous-Clients
	url = https://github.com/diaoenmao/HeteroFL-Computation-and-Communication-Efficient-Federated-Learning-for-Heterogeneous-Clients.git
[submodule "Emulating-Spatio-Temporal-Realizations-of-Three-Dimensional-Isotropic-Turbulence-via-Deep-Sequence"]
	path = Emulating-Spatio-Temporal-Realizations-of-Three-Dimensional-Isotropic-Turbulence-via-Deep-Sequence
	url = https://github.com/MReza89/Emulating-Spatio-Temporal-Realizations-of-Three-Dimensional-Isotropic-Turbulence-via-Deep-Sequence.git
[submodule "Dimension-Reduced-Turbulent-Flow-Data-From-Deep-Vector-Quantizers"]
	path = Dimension-Reduced-Turbulent-Flow-Data-From-Deep-Vector-Quantizers
	url = https://github.com/diaoenmao/Dimension-Reduced-Turbulent-Flow-Data-From-Deep-Vector-Quantizers.git
[submodule "Semi-Supervised-Federated-Learing-for-Keyword-Spotting"]
	path = Semi-Supervised-Federated-Learing-for-Keyword-Spotting
	url = https://github.com/diaoenmao/Semi-Supervised-Federated-Learing-for-Keyword-Spotting.git
[submodule "SemiFL-Semi-Supervised-Federated-Learning-for-Unlabeled-Clients-with-Alternate-Training"]
	path = SemiFL-Semi-Supervised-Federated-Learning-for-Unlabeled-Clients-with-Alternate-Training
	url = https://github.com/diaoenmao/SemiFL-Semi-Supervised-Federated-Learning-for-Unlabeled-Clients-with-Alternate-Training
[submodule "GAL-Gradient-Assisted-Learning-for-Decentralized-Multi-Organization-Collaborations"]
	path = GAL-Gradient-Assisted-Learning-for-Decentralized-Multi-Organization-Collaborations
	url = https://github.com/diaoenmao/GAL-Gradient-Assisted-Learning-for-Decentralized-Multi-Organization-Collaborations
[submodule "Speech-Emotion-Recognition-with-Dual-Sequence-LSTM-Architecture"]
	path = Speech-Emotion-Recognition-with-Dual-Sequence-LSTM-Architecture
	url = https://github.com/diaoenmao/Speech-Emotion-Recognition-with-Dual-Sequence-LSTM-Architecture.git
[submodule "Score-based-Hypothesis-Testing-for-Unnormalized-Models"]
	path = Score-based-Hypothesis-Testing-for-Unnormalized-Models
	url = https://github.com/suuyawu/Score-based-Hypothesis-Testing-for-Unnormalized-Models.git
[submodule "Quickest-Change-Detection-for-Unnormalized-Statistical-Models"]
	path = Quickest-Change-Detection-for-Unnormalized-Statistical-Models
	url = https://github.com/suuyawu/Quickest-Change-Detection-for-Unnormalized-Statistical-Models.git
[submodule "Pruning-Deep-Neural-Networks-from-a-Sparsity-Perspective"]
	path = Pruning-Deep-Neural-Networks-from-a-Sparsity-Perspective
	url = https://github.com/diaoenmao/Pruning-Deep-Neural-Networks-from-a-Sparsity-Perspective.git
[submodule "Personalized-Federated-Recommender-Systems-with-Private-and-Partially-Federated-AutoEncoders"]
	path = Personalized-Federated-Recommender-Systems-with-Private-and-Partially-Federated-AutoEncoders
	url = https://github.com/diaoenmao/Personalized-Federated-Recommender-Systems-with-Private-and-Partially-Federated-AutoEncoders.git
[submodule "Decentralized-Multi-Target-Cross-Domain-Recommendation-for-Multi-Organization-Collaborations"]
	path = Decentralized-Multi-Target-Cross-Domain-Recommendation-for-Multi-Organization-Collaborations
	url = https://github.com/diaoenmao/Decentralized-Multi-Target-Cross-Domain-Recommendation-for-Multi-Organization-Collaborations.git
[submodule "ColA-Collaborative-Adaptation-with-Gradient-Learning"]
	path = ColA-Collaborative-Adaptation-with-Gradient-Learning
	url = https://github.com/diaoenmao/ColA-Collaborative-Adaptation-with-Gradient-Learning
