[submodule "Multimodality"]
	path = Multimodality
	url = https://github.com/dem123456789/Multimodality.git
[submodule "Hierarchical-Classification"]
	path = Hierarchical-Classification
	url = https://github.com/dem123456789/Hierarchical-Classification.git
[submodule "Organic"]
	path = Organic
	url = https://github.com/dem123456789/Organic.git
[submodule "Fine-Grained-Classification"]
	path = Fine-Grained-Classification
	url = https://github.com/dem123456789/Fine-Grained-Classification.git
[submodule "Deep-Channel-Coding"]
	path = Deep-Channel-Coding
	url = https://github.com/dem123456789/Deep-Channel-Coding.git
[submodule "Deep-Fractal-Neural-Network"]
	path = Deep-Fractal-Neural-Network
	url = https://github.com/dem123456789/Deep-Fractal-Neural-Network.git
[submodule "Restricted-Recurrent-Neural-Networks"]
	path = Restricted-Recurrent-Neural-Networks
	url = https://github.com/dem123456789/Restricted-Recurrent-Neural-Networks.git
[submodule "Neural-Network-on-Finite-Field"]
	path = Neural-Network-on-Finite-Field
	url = https://github.com/dem123456789/Neural-Network-on-Finite-Field.git
[submodule "Deep-Source-Coding"]
	path = Deep-Source-Coding
	url = https://github.com/dem123456789/Deep-Source-Coding.git
[submodule "Deep-Model-Compression"]
	path = Deep-Model-Compression
	url = https://github.com/dem123456789/Deep-Model-Compression.git
[submodule "Autoregressive-Image-Generation"]
	path = Autoregressive-Image-Generation
	url = https://github.com/dem123456789/Autoregressive-Image-Generation.git
[submodule "Distributed-Audio-Compression"]
	path = Distributed-Audio-Compression
	url = https://github.com/dem123456789/Distributed-Audio-Compression.git
[submodule "Multimodal-Controller-for-Generative-Models"]
	path = Multimodal-Controller-for-Generative-Models
	url = https://github.com/dem123456789/Multimodal-Controller-for-Generative-Models.git
[submodule "Neural-Wavelet-for-Pitch-Tracking"]
	path = Neural-Wavelet-for-Pitch-Tracking
	url = https://github.com/dem123456789/Neural-Wavelet-for-Pitch-Tracking.git
[submodule "Text-to-Speech-Synthesis"]
	path = Text-to-Speech-Synthesis
	url = https://github.com/dem123456789/Text-to-Speech-Synthesis.git
[submodule "Multimodal-Controlled-Text-Generation"]
	path = Multimodal-Controlled-Text-Generation
	url = https://github.com/dem123456789/Multimodal-Controlled-Text-Generation.git
[submodule "Deep-Hacker"]
	path = Deep-Hacker
	url = https://github.com/dem123456789/Deep-Hacker.git
[submodule "Multimodal-Controlled-Audio-Generation"]
	path = Multimodal-Controlled-Audio-Generation
	url = https://github.com/dem123456789/Multimodal-Controlled-Audio-Generation.git
[submodule "Speech-Emotion-Recognition-with-Dual-Sequence-LSTM-Architecture"]
	path = Speech-Emotion-Recognition-with-Dual-Sequence-LSTM-Architecture
	url = https://github.com/dem123456789/Speech-Emotion-Recognition-with-Dual-Sequence-LSTM-Architecture.git
[submodule "On-Statistical-Efficiency-in-Learning"]
	path = On-Statistical-Efficiency-in-Learning
	url = https://github.com/dem123456789/On-Statistical-Efficiency-in-Learning.git
[submodule "Structrual-GAN"]
	path = Structrual-GAN
	url = https://github.com/dem123456789/Structrual-GAN.git
[submodule "Deep-Clustering-of-Compressed-Variational-Embeddings"]
	path = Deep-Clustering-of-Compressed-Variational-Embeddings
	url = https://github.com/dem123456789/Deep-Clustering-of-Compressed-Variational-Embeddings.git
[submodule "Deep-Adversarial-Attacks"]
	path = Deep-Adversarial-Attacks
	url = https://github.com/dem123456789/Deep-Adversarial-Attacks.git
[submodule "SmartQuake"]
	path = SmartQuake
	url = https://github.com/dem123456789/SmartQuake.git
[submodule "Gradient-Assisted-Learning"]
	path = Gradient-Assisted-Learning
	url = https://github.com/dem123456789/Gradient-Assisted-Learning.git
[submodule "Dimension-Reduction-of-Turbulent-Flow-Data-with-a-VectorQunatized-Deep-Learning-Framework"]
	path = Dimension-Reduction-of-Turbulent-Flow-Data-with-a-VectorQunatized-Deep-Learning-Framework
	url = https://github.com/dem123456789/Dimension-Reduction-of-Turbulent-Flow-Data-with-a-VectorQunatized-Deep-Learning-Framework.git
[submodule "DRASIC-Distributed-Recurrent-Autoencoder-for-Scalable-Image-Compression"]
	path = DRASIC-Distributed-Recurrent-Autoencoder-for-Scalable-Image-Compression
	url = https://github.com/dem123456789/DRASIC-Distributed-Recurrent-Autoencoder-for-Scalable-Image-Compression.git
[submodule "HeteroFL-Computation-and-Communication-Efficient-Federated-Learning-for-Heterogeneous-Clients"]
	path = HeteroFL-Computation-and-Communication-Efficient-Federated-Learning-for-Heterogeneous-Clients
	url = https://github.com/dem123456789/HeteroFL-Computation-and-Communication-Efficient-Federated-Learning-for-Heterogeneous-Clients.git
[submodule "SemiFL-Communication-Efficient-Semi-Supervised-Federated-Learning-with-Unlabeled-Clients"]
	path = SemiFL-Communication-Efficient-Semi-Supervised-Federated-Learning-with-Unlabeled-Clients
	url = https://github.com/dem123456789/SemiFL-Communication-Efficient-Semi-Supervised-Federated-Learning-with-Unlabeled-Clients.git
[submodule "Transistor-Aging"]
	path = Transistor-Aging
	url = https://github.com/dem123456789/Transistor-Aging.git
[submodule "DAFL-Communication-Efficient-Federated-Domain-Adaptation-with-Unlabeled-Target-Clients"]
	path = DAFL-Communication-Efficient-Federated-Domain-Adaptation-with-Unlabeled-Target-Clients
	url = https://github.com/dem123456789/DAFL-Communication-Efficient-Federated-Domain-Adaptation-with-Unlabeled-Target-Clients.git
